@model ElectionApplication.Models.Election

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Election</legend>

        @Html.HiddenFor(model => model.ElectionId)

        <div class="editor-label">
            @Html.LabelFor(model => model.ElectionName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ElectionName)
            @Html.ValidationMessageFor(model => model.ElectionName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsEnded)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsEnded)
            @Html.ValidationMessageFor(model => model.IsEnded)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsSelected)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsSelected)
            @Html.ValidationMessageFor(model => model.IsSelected)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
