@model IEnumerable<ElectionApplication.Models.Election>

@{
    ViewBag.Title = "Index";
}

<h2>List of Elections</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ElectionName)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ElectionName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ElectionId }) |
            @Html.ActionLink("Candidates", "Index", "Candidate", new { id = item.ElectionId }, null)
            @Html.ActionLink("Delete", "Delete", new { id=item.ElectionId })
        </td>
    </tr>
}

</table>
