@model IEnumerable<ElectionApplication.ViewModels.CandidateViewModel>

@{
    ViewBag.Title = "Results";
}

<h2>Results</h2>


<fieldset>
    <h3>Candidate @Model.CandidateName has won the Election!</h3>
        <h2> with @Model.Votes </h2>

    

    <div class="display-field">
        @Html.DisplayFor(model => model.CandidateName)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.ElectionName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ElectionName)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Party)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Party)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Votes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Votes)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Platform)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Platform)
    </div>
</fieldset>
<p> 
    @Html.ActionLink("Back to Home", "Index")
</p>
